* {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*---------------------------------- css general ----------------------------------*/
body {
  padding: 10px;
}
section:nth-child(even) {
  background: #dddddd;
}
section {
  /* height: fit-content; */
  min-height: 20px;
  padding: 50px 10px;
}
/*-------------------------------- css exo-1 --------------------------------*/
.ex0-1 ul li {
  margin-bottom: 10px;
}
/*-------------------------------- css exo-1 exit --------------------------------*/
/*-------------------------------- css exo-2 --------------------------------*/
/*-------------------------------- css exo-2 exit --------------------------------*/
/*-------------------------------- css exo-3 --------------------------------*/
/*-------------------------------- css exo-3 exit --------------------------------*/
/*-------------------------------- css exo-4 --------------------------------*/
/*-------------------------------- css exo-4 exit --------------------------------*/
/*-------------------------------- css exo-5 --------------------------------*/
/*-------------------------------- css exo-5 exit --------------------------------*/
/*-------------------------------- css exo-6 --------------------------------*/
/*-------------------------------- css exo-6 exit --------------------------------*/
/*-------------------------------- css exo-7 --------------------------------*/
/*-------------------------------- css exo-7 exit --------------------------------*/
/*-------------------------------- css exo-8 --------------------------------*/
/*-------------------------------- css exo-8 exit --------------------------------*/
/*-------------------------------- css exo-9 --------------------------------*/
/*-------------------------------- css exo-9 exit --------------------------------*/
/*-------------------------------- css exo-10 --------------------------------*/
/*-------------------------------- css exo-10 exit --------------------------------*/
/*-------------------------------- css exo-11 --------------------------------*/
/*-------------------------------- css exo-11 exit --------------------------------*/
/*-------------------------------- css exo-12 --------------------------------*/
/*-------------------------------- css exo-12 exit --------------------------------*/
/*-------------------------------- css exo-13 --------------------------------*/
/*-------------------------------- css exo-13 exit --------------------------------*/
/*-------------------------------- css exo-14 --------------------------------*/
/*-------------------------------- css exo-14 exit --------------------------------*/
/*-------------------------------- css exo-15 --------------------------------*/
/*-------------------------------- css exo-15 exit --------------------------------*/
/*-------------------------------- css exo-16 --------------------------------*/
/*-------------------------------- css exo-16 exit --------------------------------*/
/*-------------------------------- css exo-17 --------------------------------*/
/*-------------------------------- css exo-17 exit --------------------------------*/
/*-------------------------------- css exo-18 --------------------------------*/
/*-------------------------------- css exo-18 exit --------------------------------*/
/*-------------------------------- css exo-19 --------------------------------*/
/*-------------------------------- css exo-19 exit --------------------------------*/
/*-------------------------------- css exo-20 --------------------------------*/
/*-------------------------------- css exo-20 exit --------------------------------*/
