* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
}
:root {
  --primary-color: #03301f;
  --secondary-color: #126945;
  --hover-color: #108554;
  --box-color: #03301f;
  --text-white: #fff;
}
/* css highlight */
/* Exemple de style personnalisé */
.hljs-keyword {
  color: #ff79c6; /* couleur des mots-clés */
}
.hljs-string {
  color: #f1fa8c; /* couleur des chaînes de caractères */
}
.hljs-comment {
  color: #4f4f4f; /* couleur des commentaires */
}
.hljs-function {
  color: #50fa7b; /* couleur des fonctions */
}
/* css highlight exit */
/*---------------------------------- css general ----------------------------------*/

section:nth-child(even) {
  background: var(--primary-color);
}
section {
  background: var(--secondary-color);
  padding: 50px 10px;
  height: fit-content;
  padding: 50px 10px;
}
h1,
h2,
h3 {
  width: fit-content;
  margin: auto;
  color: var(--text-white);
}
h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
h2 {
  margin-bottom: 30px;
}
h3 {
  text-align: center;
  margin-bottom: 50px;
}
.subtitles {
  padding: 10px;
  color: var(--text-white);
  font-size: 20px;
  width: 800px;
  margin: 30px auto;
}
.subtitles li {
  list-style: circle;
  margin-top: 10px;
}

/*-------------------------------- css exo-1 --------------------------------*/
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
ul li {
  padding: 10px;
  background: var(--box-color);
  color: var(--text-white);
  font-size: 18px;
  border-radius: 5px;
  flex: 1 1 auto;
  text-align: center;
  transition: all 0.5s;
}
ul li:hover {
  background: var(--hover-color);
}
code {
  margin: 10px 0;
  border-radius: 5px;
}
/*-------------------------------- css exo-1 exit --------------------------------*/
/*-------------------------------- css exo-2 --------------------------------*/
.box-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.ex0-2 p {
  padding: 10px;
  /* color: var(--box-color); */
}
.box {
  height: 50px;
  width: 50px;
  background: var(--secondary-color);
  border-radius: 5px;
  flex: 1 1 auto;
  min-width: 180px;
  text-align: center;
  color: var(--text-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*-------------------------------- css exo-2 exit --------------------------------*/
/*-------------------------------- css exo-3 --------------------------------*/

/*-------------------------------- css exo-3 exit --------------------------------*/
/*-------------------------------- css exo-4 --------------------------------*/
.container-null img {
  display: block;
  height: 500px;
  width: 400px;
  margin: 10px auto;
}
.container-null p {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  color: var(--text-white);
  text-align: center;
}
/*-------------------------------- css exo-4 exit --------------------------------*/
/*-------------------------------- css exo-5 --------------------------------*/
button {
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  background: #fff;
  color: #000;
  cursor: pointer;
}
.highlight {
  color: #fff;
}
/*-------------------------------- css exo-5 exit --------------------------------*/
/*-------------------------------- css exo-6 --------------------------------*/
.ex0-6 p {
  color: #fff;
}
/*-------------------------------- css exo-6 exit --------------------------------*/
/*-------------------------------- css exo-7 --------------------------------*/
/*-------------------------------- css exo-7 exit --------------------------------*/
/*-------------------------------- css exo-8 --------------------------------*/
/*-------------------------------- css exo-8 exit --------------------------------*/
/*-------------------------------- css exo-9 --------------------------------*/
/*-------------------------------- css exo-9 exit --------------------------------*/
/*-------------------------------- css exo-10 --------------------------------*/
/*-------------------------------- css exo-10 exit --------------------------------*/
/*-------------------------------- css exo-11 --------------------------------*/
/*-------------------------------- css exo-11 exit --------------------------------*/
/*-------------------------------- css exo-12 --------------------------------*/
/*-------------------------------- css exo-12 exit --------------------------------*/
/*-------------------------------- css exo-13 --------------------------------*/
/*-------------------------------- css exo-13 exit --------------------------------*/
/*-------------------------------- css exo-14 --------------------------------*/
/*-------------------------------- css exo-14 exit --------------------------------*/
/*-------------------------------- css exo-15 --------------------------------*/
/*-------------------------------- css exo-15 exit --------------------------------*/
/*-------------------------------- css exo-16 --------------------------------*/
/*-------------------------------- css exo-16 exit --------------------------------*/
/*-------------------------------- css exo-17 --------------------------------*/
/*-------------------------------- css exo-17 exit --------------------------------*/
/*-------------------------------- css exo-18 --------------------------------*/
/*-------------------------------- css exo-18 exit --------------------------------*/
/*-------------------------------- css exo-19 --------------------------------*/
/*-------------------------------- css exo-19 exit --------------------------------*/
/*-------------------------------- css exo-20 --------------------------------*/
/*-------------------------------- css exo-20 exit --------------------------------*/
